<div id="contenedor-selector-baselayer" class="m-control m-container m-test">
  <div id="baseLayer-content">
    <img id="selectedBaseLayer" class="m-selector-baselayer-selected-image" src="{{selectedLayerLegendURL}}" alt="{{selectedLayerLegend}}" title="{{selectedLayerLegend}}" name="{{selectedLayerName}}">
  </div>
  <div id="contenedor-baseLayer-layers">
    {{#each layers}}
      {{#if @first}}
      <div id="{{this.name}}" class="m-selector-baselayer-layers-content">
        <img class="m-selector-baselayer-layers-image-seleccionada" src="{{this.impl_.legendUrl_}}" alt="{{this.legend}}" title="{{this.legend}}" name="{{this.name}}">
      </div>
      {{else}}
    <div id="{{this.name}}" class="m-selector-baselayer-layers-content">
      <img class="m-selector-baselayer-layers-image" src="{{this.impl_.legendUrl_}}" alt="{{this.legend}}" title="{{this.legend}}" name="{{this.name}}">
    </div>
    {{/if}}
   {{/each}}
  </div>
</div>